.cuadrado {
    width: 200px;
    height: 200px;
    background: aquamarine;
    border: 2px solid slateblue;

    /* transition-duration: 2s; */
    /* Es un tetraso, una espera antes que comience la transicion */
    /* transition-delay: 250ms; */
    /* las propiedades a indicar las separamos por , y si queremos todas las propiedades, podemos indicar all */
    /* transition-timing-function: ease; */
    /* transition-property: all; */
    /* transition-property: width, height;  */

    /* tramsition: property duration delay timing-function */
    transition: width 1s 250ms ease, height 3s 300ms ease;

}

.cuadrado:hover {
    width: 400px;
    height: 400px;
    background: red;
}

.circulo {
    width: 200px;
    height: 200px;
    background: teal;
    border: 2px solid tomato;

    transition: all 1s 250ms ease-in-out;
}

.circulo:hover {
    border-radius: 50%;
    background: yellow;
}
